<h1>Web Explorer</h1>

<form action="/process_web" method="post">
  <div><label >Upload your image here.</label></div>
  <div><input type="file" name="zebra"></div>
  <div><button >Magic!</button></div>
</form>